.navbar {

    background-color: rgb(66, 66, 70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 2570px;
  
}

.image-container {

    position: relative;
    display: inline-block;

}

.overlay-text {

    display: inline;
    font-size: 100px;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: rgb(141, 201, 210);
    color: rgb(52, 68, 129);
    padding: 5px;
    font-size: 20px;
    
}

h1 {

    font-size: 50px;
    font-weight: 600;
    color: rgb(66, 66, 70);
    background-color: rgb(151, 222, 233);
    padding-left: 50px;
    padding-right: 20px;


}

li {
    color: rgb(151, 222, 233);
    font-size: 25px;
    list-style: none;
    display: inline;
    margin-right: 50px;
    text-decoration: underline;
    font-size: 30px;
}

body {
    margin: 0px;
}

img {

  
    width: 2570px;
    height: 300px;
    display: inline-block;
    

}

h2 {
    color: rgb(52, 68, 129);
    font-size: 60px;
    font-display: vertical;
    margin-left: 300px;
    padding: 20px;
    border-left: thick solid  rgb(56, 56, 136);
    padding-bottom: 100px;
    
}

p {
    color: rgb(52, 68, 129);
    height: 200px;
    margin-left: 600px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -120px;
    font-size: 25px;
    

}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: -200px;

}

.box-1 {

    width: 1000px;
    height: 200px;
    margin: 30px;
    border: solid rgb(151, 222, 233);
    border-width: 5px;
    
}

.box-2 {

    width: 480px;
    height: 200px;
    background: rgb(151, 222, 233);
    color: rgb(66, 66, 70);
    margin-right: 500px;
    margin-left: -20px;
    margin-bottom: 20px; 
    border: solid rgb(151, 222, 233);
    border-width: 5px;
    

}

.box-3 {

    width: 500px;
    height: 200px;
    background: rgb(151, 222, 233);
    color: rgb(66, 66, 70);
    margin-left: 500px;
    margin-top: -230px;
    margin-bottom: 10px;
    border: solid rgb(151, 222, 233);
    border-width: 5px;

}

.box-4 {

    width: 480px;
    height: 200px;
    background: rgb(151, 222, 233);
    color: rgb(66, 66, 70);
    margin-right: 500px;
    margin-left: -20px;
    margin-bottom: 20px; 
    border: solid rgb(151, 222, 233);
    border-width: 5px;
    
}

.box-5 {

    width: 500px;
    height: 200px;
    background: rgb(151, 222, 233);
    color: rgb(66, 66, 70);
    margin-left: 500px;
    margin-top: -230px;
    margin-bottom: 20px;
    border: solid rgb(151, 222, 233);
    border-width: 5px;
}



.contact {
    
    margin-left: 700px;
    margin-top: -100px;
    text-decoration: underline;
    
    
}

.phone-number {

    color: rgb(52, 68, 129);
    font-size: 40px;
    
}

.email {

    color: rgb(52, 68, 129);
    font-size: 40px;
}

.github {

    color: rgb(52, 68, 129);
    font-size: 40px;
}

.twitter {

    color: rgb(52, 68, 129);
    font-size: 40px;
}

.spotify {

    color: rgb(52, 68, 129);
    font-size: 40px;
}